<html ng-app="chatApp">
<head>
  <title>Chat Client</title>
  <link rel="stylesheet" type="text/css" href="/app/css/client.css">
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/app/js/client.js"></script>
  <script src="/app/js/service.js"></script>
  <script src="/app/js/controller.js"></script>
</head>
<body ng-controller="ChatAppController as chatWindow">
  <div>
    <ul id="messageList">
      <li ng-repeat="message in chatWindow.messages">{{message.message}}</li>
    </ul>
  </div>
  <div>
    <form ng-submit="chatWindow.sendMessage()">
      <input type="text" ng-model="chatWindow.chatMessage">
      <input type="submit" value="Send">
    </form>
  </div>
</body>
</html>
